---
layout: default
---


<div id="browseum" class="project-wrapper">
  <div class="bordered">
      <h2 class="text-centered bold underlined">Browseum</h2>
      <img src="/assets/images/projects/browseum-thumbnail.png" class="centered thin-border medium" style="border-color:grey"/>

      <p/>

      <ul class="project-links-list">

        <li class="project-link"> <a href="https://github.com/breadoliveoilsalt/browseum" target="_blank"><img src="/assets/images/projects/heroko-thumbnail.jpg" style="padding-right:0.5em"/><span>App Demo</span></a></li>

        <li class="project-link"> <a href="https://github.com/breadoliveoilsalt/browseum" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span>GitHub Repository</span></a></li>

        <li class="project-link"> <a href="https://github.com/breadoliveoilsalt/browseum" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span>Video Demo</span></a></li>


      </ul>

      <p/>
      <p class="project-text text-centered italicized"> React front-end with Redux-managed state. Rails API back-end.</p>

      <p/>
      <p class="project-text"> Browse leisurely through pieces of famous art with Browseum. It randomly selects and displays artwork from the Harvard Art Museums. At the click of a button, get a new random work of art (including by artist, culture, or time period), see your recent browsing history, or add a work of art to your list of favorites.</p>
      <p/>

  </div>
</div>

<p/>
