---
layout: default
---

<header class="post-header">
  <h1 class="post-title text-centered">Projects</h1>
</header>

{% for project in site.data.projects %}

    <div id="{{project.id}}" class="project-wrapper">
      <div class="bordered">

          <p/>
          <h2 class="text-centered bold underlined">{{project.title}}</h2>

          <p/>
          <img src="{{project.image_path}}" class="centered thin-border medium" style="border-color:grey"/>

          <hr>

          <p/>
          <p class="project-text"> {{project.description}}</p>
          <p/>

          <hr>

          <p/>
          <p class="project-text text-centered italicized underlined"> Principal Languages or Libraries:</p>
          <p class="project-text text-centered italicized"> {{project.languages}}</p>

          <p/>
          <ul class="project-links-list">


          {%- if project.app_url -%}
            <li class="project-link"> <a href="{{project.app_url}}" target="_blank"><img src="/assets/images/projects/heroko-thumbnail.jpg" style="padding-right:0.5em"/><span>App Demo</span></a></li>
          {%- endif -%}

          {%- if project.github_url -%}
            <li class="project-link"> <a href="{{project.github_url}}" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span>GitHub Repository</span></a></li>
          {%- endif -%}

          {%- if project.video_url -%}
            <li class="project-link"> <a href="{{project.video_url}}" target="_blank"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span>Video Demo</span></a></li>
          {%- endif -%}

          </ul>
          <p/>

      </div>
    </div>

{% endfor %}

<!-- Extra p for spacing at the very bottom above footer-->
<p/>
